<h1>Basket</h1>

<div ng-show="basket.get() == 0">empty basket</div>

<table>
	<thead>
		<tr>
			<th>Product</th>
			<th>Quantity</th>
			<th>Unit Price</th>
			<!-- <th>Subotal Price</th> -->
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in basket">
			<td><a href="#/product-detail/{{item.productid}}">{{item.name}}</a></td>
			<td><input type="number" value="{{item.quantity}}" min="0" max="{{item.stock}}" ng-model="quantity"></td>
			<td>{{item.price | currency}}</td>
			<!-- <td>subtotal: {{item.price * quantity | currency}}</td> -->
			<td><a ng-click="remove(item)"><span class="icon-close"></span></a></td>
			<td><a ng-click="update(item, quantity)"><i class="icon-refresh"></i></a></td>
		</tr>
	</tbody>
</table>

<a href="#/order" class="button">order now</a>