<form ng-submit="submitOrder()">
	<label>Name*</label>
	<input type="text" ng-model="prod_name" placeholder="product name" autocomplete="on" required=required>

	<label>Description</label>
	<input type="text" ng-model="prod_description" placeholder="describe product" autocomplete="on">

	<label>Price</label>
	<input type="text" ng-model="prod_price" placeholder="price" autocomplete="on">

	<label>Amount</label>
	<input type="text" ng-model="prod_amount" placeholder="€" autocomplete="on">

	<input type="submit" value="order">
</form>